- @articles.each do |article|
  .row
    .col.text-monospace
      %span{style: "color:Dodgerblue"}
        %i.far.fa-comment-dots
      = l article.created_at, format: :short
      - if user_signed_in? && current_user == article.user
        = article.user.username
      - else
        = link_to article.user.username, user_path(id: article.user.id)
  .row
    .col.ml-5.border-left.border-primary.text-break.text-monospace
      = simple_format(h(article.content))