%h2 Time Line
- @articles.each do |article|
  .row
    .col.text-monospace
      %span{style: "color:Dodgerblue"}
        %i.far.fa-comment-dots
      = l article.created_at, format: :short
      = article.owner.username
  .row
    .col.ml-5.border-left.border-primary.text-break.text-monospace
      = article.content