%div{:class => "container"}
  %h1{:class => "display-4 text-monospace"}Time Line
  - @articles.each do |article|
    %div{:class => "row"}
      %div{:class => "col text-monospace"}
        %span{:style => "color:Dodgerblue"}
          %i{:class => "far fa-comment-dots"}
        = l article.created_at, format: :short
    %div{:class => "row"}
      %div{:class => "col ml-5 border-left border-primary text-break text-monospace"}
        = article.content