%div{:class => "container"}
  %h1{:class => "display-4"}Time Line
  %input{:type => "button", 
              :class => "btn btn-primary btn-sm", 
              :onclick => "location.href='/articles/new'", 
              :value => "Add" }
  - @articles.each do |article|
    %div{:class => "row"}
      %div{:class => "col "}
        %span{:style => "color:Dodgerblue"}
          %i{:class => "far fa-comment-dots"}
        = l article.created_at, format: :short
    %div{:class => "row"}
      %div{:class => "col ml-5 border-left border-primary"}
        = article.content