= form_with(model: current_user.created_posts.build, local: false, class: "form-horizontal") do |f|
  #errors
  .row
    .col-5
      .mb-3.mb-2
        = f.text_area :content, class: "form-control"
      .mb-3.mb-0
        .form-file.form-file-lg
          = f.file_field :image, class: "form-control", id: "formFile"
      .mb-3.text-end
        = f.submit t(:post), class: "btn btn-primary btn-sm"